@font-face {
    font-family: CodePro;
    src: url("CODEBold.otf") format("opentype");
}

body {
    padding-top: 50px;
    font-family: 'CodePro';
    padding-bottom: 20px;
    overflow-x: hidden;
}

.brand {
    width: 30px;
    height: 30px;
}

#legal-text {
    color: white;
    font-size: 10px;
}

.navbar-xs {
    min-height: 20px;
    height: 20px;
}

.navbar-xs .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
}

.media-body {
    padding-left: 40px;
}

#search-box {
	position: fixed;
	padding-top: 20px;
	width: 90%;
}


@media only screen and (min-width: 0px) and (max-width: 767px) {
	.media-body {
		padding-left: 0px;
		font-size: 12px;
	}

    h3.media-heading {
        font-size: 15px;
    }
	
	#search-img {
		margin-left: -50px;
		width: 90px;
		max-height: 100px;
	}
	
	.media-left {
		margin-left: -20px;
	}
}

@media only screen and (min-width: 992px)
{
    body {
        padding-bottom: 20px;
    }

    .brand {
        margin-right: -10px;
        margin-top: -3px;
    }
}